* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Hind Madurai', sans-serif;
}

ul, 
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

h1, 
h2, 
h3 {
    margin: 0;
}

.brownbread {
    max-width: 1119px;
}

.container {
    display: flex;
    align-items: center;
}

.brownbread__image {
    width: 580px;
    max-width: 480px;
}

.brownbread__info {
    width: 454px;
}

.brownbread__title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 10px;
}

.brownbread__desc {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    line-height: 1.5;
    margin-bottom: 20px;
}

.brownbread__price {
    display: flex;
    align-items: center;
}

.brownbread__cost {
    font-weight: 500;
    font-size: 26px;
    margin-right: 10px;
}

.brownbread__cost2 {
    font-weight: 500;
    font-size: 20px;
    color: grey;
}

.brownbread__button {
    background-color: #D64374;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 46px;
    padding-right: 46px;
    color: white;
    border-style: none;
    margin-top: 10px;
}